// Import Variables
@use "../helpers/variables" as *;

// Start Popular
.popular {
  width: 100%;
  padding-top: 60px;

  .heading {
    margin-bottom: 10px;
    color: $light-brown;
    font-size: $font-md;
    font-weight: 600;

    .view-all {
      font-size: $font-md;
      color: $light-orange;
      cursor: pointer;
    }
  }
  // Edit Owl Banner
  .owl-banner {
    .owl-nav {
      position: absolute;
      bottom: 40px;
      right: 30px;
    }
  }
}
